.container{
    margin-bottom: 100px;
}

.bgcaro{
    border-radius: 10px;
    background-color: #fceae8;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.byenow{
    background-image: linear-gradient(to bottom,#FF589B 0%,#FF136F 100%);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1{
    background-color: #FF136F;


}
.cat2{
    background-color: blue;

}
.cat3{
    background-color: yellowgreen;

}
.ccss{
    border-radius: 10px;
    padding: 20px 40px;
    color: whitesmoke;
}
.ccss img{
    width: 100px;
}
.lbnow{
    margin-left: 10px;
    margin-bottom: 10px;
}
.card
{
    border: none !important;
    box-shadow: 10px 10px 20px lightgray;
    border-radius: 15px !important;
}
.shocetitel{
    color: gray;
}
.card-footer{
    background-color: white !important;
}
.subscribeinput{
    height: 300px;
}